doctype html
html(lang="en")
    head
      title=pageTitle
      link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
      
    body
      .container
        if user
          h1 Login to your account #{user}
        else
          h1 Login to your account
        form(method="post" action="/login")
          .form-group
            label(for="username") Username
            input.form-control(type="text", name="username", placeholder="Username", aria-describedby="basic-addon1", required)
          .form-group
            label(for="password") Password
            input.form-control(type="password", name="password", placeholder="Password", aria-describedby="basic-addon1", required)
          .form-group
            input(type="submit", value="Login", class="btn btn-primary")
          span Not yet a user? #[a(href="/register") Register]
          
        if errormsg
          span(class="alert alert-danger") #{errormsg}
