doctype html
html(lang="en")
  head
    title=pageTitle
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
  body
    .container
      h1 Hello #{username} !
      form(method="post", action="/logout")
        input(type="submit", value="Logout" class="btn btn-danger")
