doctype html
html(lang="en")
  head
    title=pageTitle
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    
  body
    .container
      h1 Register Here
      form(method="post" action="/register")
        .form-group
          label(for="First Name") First Name
          input.form-control(type="text", name="firstname", placeholder="Firstname", aria-describedby="basic-addon1", required)
        .form-group
          label(for="Last Name") Last Name
          input.form-control(type="text", name="lastname", placeholder="Lastname", aria-describedby="basic-addon1", required)
        .form-group
          label(for="username") Username
          input.form-control(type="text", name="username", placeholder="Username", aria-describedby="basic-addon1", required)
        .form-group
          label(for="password") Password
          input.form-control(type="password", name="password", placeholder="Password", aria-describedby="basic-addon1", required)
        .form-group
        input(type="submit", value="Register", class="btn btn-success")
